﻿.cardBox {
    color: #0059A7;
    font-family: Arial;
    font-weight: bold;
    font-size: 7pt;
    text-wrap: normal;
    background-color: #BCE4FA;
}

.carditemStyle {
    border-radius: 5px;
    font-size: 7pt;
    text-wrap: normal;
    border: none;
    font-family: Tahoma;
}


.dxflGroupCell {
    height: 20px;
    max-height: 20px;
    padding: 0,0,0,0;
}
