﻿.mainMenu {
    width: 100%;
    background-color: #EEEEEE;
    border: none;
}

.MenuDiv {
    width: 100%;
    padding-top: 0px;
    background-color: #EEEEEE;
}



    .MenuDiv span {
        color: #EEEEEE;
        font-family: Arial;
        font-weight: bold;
        font-size: 10px;
        text-wrap: normal;
        font-weight: bold;
    }



.UstBannerRightBox {
    background: darkslategrey;
    /* background: url('../images/slicetoprighttdback.png'); */
    width: 100%;
    height: 30px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    vertical-align: middle;
}

.UstBannerRightBoxTest {
    background: #008b8b !important;
}

.UstBannertextBox {
    width: 95%;
    height: 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 0px solid #319ED7;
    font-family: Arial;
    font-size: 8px;
    text-align: center;
    background-color: #FFFFFF;
}

.UstCombobox {
    width: 95%;
    height: 20px;
    border-top-right-radius: 5px;
    border: 0px solid #319ED7;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-family: Arial;
    font-size: 8px;
}

.usttablestyle {
    width: 100%;
    /* background: darkgray; */
    text-align: center;
    padding-right: 3px;
    padding-top: 3px;
    padding-left: 3px;
    table-layout: fixed;
    margin-top: -74px;
    z-index: 10;
    position: relative;
}

.menutablestyle {
    background: darkgray;
    /* background-repeat: repeat-x, no-repeat,no-repeat; */
    padding: 0px;
    padding-top: 0px;
    outline-offset: 0px;
    width: 100%;
    table-layout: fixed;
}

.menutableTeststyle {
    background-color: #8c8a8a;
    background: #8c8a8a !important;
    padding: 0px;
    padding-top: 0px;
    outline-offset: 0px;
    width: 100%;
    table-layout: fixed;
}


.menuUstButtonsTDStyle {
    /* background: darkslategrey; */
    position: relative;
    background: url('../images/menugradyanslice_gray.png');
    background-repeat: repeat-x, no-repeat,no-repeat;
    padding: 0px;
    padding-right: 2px;
    width: 16.6%;
    cursor: pointer;
    max-width: 16.6%;
    min-width: 16.6%;
}

.menuUstButtonsTDTestStyle {
    background-color: #bebebe;
    padding: 0px;
    padding-right: 2px;
    width: 16.6%;
    cursor: pointer;
    max-width: 16.6%;
    min-width: 16.6%;
}


.menuUstButtonsTDLanguageStyle {
    background: url('../images/menugradyanslice.png');
    background-repeat: repeat-x, no-repeat,no-repeat;
    padding: 0px;
    width: 10%;
    max-width: 10%;
    min-width: 10%;
    cursor: pointer;
}

.alignText > div {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    display: table !important;
    height: 100%;
}

    .alignText > div > span {
        display: table-cell !important;
        vertical-align: middle;
    }



.menuUstButtonsSelectedTDStyle {
    /* background: dimgrey; */
    background: url('../images/menuselectedslice_gray.png');
    background-repeat: repeat-x, no-repeat,no-repeat;
    padding: 0px;
    width: 16.6%;
    cursor: pointer;
    max-width: 16.6%;
    min-width: 16.6%;
    position: relative !important;
}

.menuUstButtonsSelectedTDTestStyle {
    background-color: #b5b5b5;
    padding: 0px;
    width: 16.6%;
    cursor: pointer;
    max-width: 16.6%;
    min-width: 16.6%;
}

.menuUstButtonsLeftRadiusTDStyle {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    /*background: url('../images/menuselectedslice.png');
    background-repeat: repeat-x, no-repeat,no-repeat;*/
    width: 12.5%;
    max-width: 12.5%;
    min-width: 12.5%;
    padding-right: 6px;
}

.menuUstButtonsRightRadiusTDStyle {
    /* border-top-right-radius: 5px; */
    /* border-bottom-right-radius: 5px; */
    background: url('../images/menugradyanslice_gray.png');
    background-repeat: repeat-x, no-repeat,no-repeat;
    padding: 0px;
    width: 10%;
    max-width: 10%;
    min-width: 10%;
}

.menuUstButtonsRightRadiusTDTestStyle {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #b5b5b5 !important;
    background-repeat: repeat-x, no-repeat,no-repeat;
    padding: 0px;
    width: 10%;
    max-width: 10%;
    min-width: 10%;
}

.menuUstButtons1 {
    background-color: Transparent;
    background-repeat: no-repeat;
    font-family: Arial;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    height: 100%;
    padding: 10px 20px 10px 10px;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.altmenu ul li {
    background: #8c8a8a !important;
}

.specialdiv1 {
    background: -webkit-linear-gradient(top,#4e4e4e, #949494) !important;
    background: -o-linear-gradient(top,#4e4e4e, #949494) !important;
    background: -moz-linear-gradient(top,#4e4e4e, #949494) !important;
    background: linear-gradient(top,#0059a7, #35a1d9) !important;
}

.specialdiv2 {
    background: -webkit-linear-gradient(top,#4e4e4e, #949494) !important;
    background: -o-linear-gradient(top,#4e4e4e, #949494) !important;
    background: -moz-linear-gradient(top,#4e4e4e, #949494) !important;
    background: linear-gradient(top,#0059a7, #35a1d9) !important;
}

.todorighttd {
    background-color: darkslategrey !important;
    border: 0px solid #004378 !important;
}

.mainMenu .dxm-item {
    background: dimgray !important;
}

    .mainMenu .dxm-item:hover {
        background: #908f8f !important;
    }

.dxgvHeader {
    background: -moz-linear-gradient(top, #2f4f4f 0%,#346d6d 80%,#436b6b 80%,#6e9494 100%) !important;
    background: -webkit-linear-gradient(top, #2f4f4f 0%,#346d6d 80%,#436b6b 80%,#6e9494 100%) !important;
    background: linear-gradient(to bottom, #2f4f4f 0%,#346d6d 80%,#436b6b 80%,#6e9494 100%) !important;
}

.tblRpt {
    background: -webkit-linear-gradient(top,#2f4f4f, #696969) !important;
    background: -o-linear-gradient(top,#2f4f4f, #696969) !important;
    background: -moz-linear-gradient(top,#2f4f4f, #696969) !important;
    background: linear-gradient(top,#2f4f4f, #696969) !important;
}

.acilirMenu {
    position: absolute;
    width: 150%;
    padding-top: 15px;
    list-style: none;
    text-align: left;
    display: none;
}

    .acilirMenu li {
        background: #8a8a8a;
        padding: 5px;
        color: white;
        font-family: arial;
        font-size: 14px;
        margin-bottom: 2px;
    }

.menuUstButtonsTDStyle:hover > ul {
    display: block;
}

.acilirMenu li:hover {
    background: #666666 !important;
}

.acilirMenu li a {
    color: white;
    text-decoration: none;
    font-family: arial;
    font-size: 10px;
    font-weight:bold;
    margin-bottom: 2px;
}
.SelectedMenu {
    background: url(../images/menuselectedslice_gray.png) !important;
}