﻿/* CSS RESET Başladı */
* {
    padding: 0;
    font-family: Arial, Helvetica, Trebuchet MS;
    margin-right: 0;
    margin-top: 0px;
    font-weight: 700;
}

:focus {
    outline: 0;
}

a img {
    border: none;
}
/* CSS RESET Bitti */

body {
    background-color: white;
}

 
#menu_bg {
    background-image: url('../images/menu_bg.png');
    background-repeat: no-repeat;
    float: left;
    height: 42px;
    width: 100%;
}

#govde {
    background-image: url('../images/govde_bg.png');
    background-repeat: no-repeat;
    float: left;
    height: 643px;
    width: 100%;
}

#login {
    background-image: url('../images/login_bg.png');
    background-repeat: no-repeat;
    height: 290px;
    width: 580px;
    margin-top: 50px;
    margin-left: 400px;
    margin-right: 400px;
}

    #login table tr td {
        font-size: 18px;
        margin: 70px auto auto 80px;
        font-size: 20px;
        color: #003e83;
        font-family: "Times New Roman", Times, serif;
    }

.textbox {
    background-color: #ffffff;
    border: 2px solid #a7bcd4;
    background-color: transparent;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 70);
    filter: alpha(opacity = 70);
    text-indent: 7px;
    font-weight: bold;
    font-size: 20px;
    color: #003e83;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.myButton {
    -moz-box-shadow: inset 0px 0px 0px 0px #f0f7fa;
    -webkit-box-shadow: inset 0px 0px 0px 0px #f0f7fa;
    box-shadow: inset 0px 0px 0px 0px #f0f7fa;
    background-color: transparent;
    border: 1px solid #057fd0;
    display: inline-block;
    font-family: 'Times New Roman';
    font-size: 16px;
    font-weight: bold;
    padding: 6px 12px;
    text-decoration: none;
    color: #003e83;
}

    .myButton:hover {
        background-color: #057fd0;
        font-family: 'Times New Roman';
        font-size: 16px;
        font-weight: bold;
        color: white;
        cursor:pointer;
    }

    .myButton:active {
        position: relative;
        top: 1px;
    }
