﻿
.menuUstButtonsTDStyle{
    width:10%;
    height:50%;
    padding:0px;
} 

.menuUstButtons {
  background: #35a1d9;
  background-image: -webkit-linear-gradient(top, #35a1d9, #0059a7);
  background-image: -moz-linear-gradient(top, #35a1d9, #0059a7); 
  background-image: -o-linear-gradient(top, #35a1d9, #0059a7);
  background-image: linear-gradient(to bottom, #35a1d9, #0059a7);
 
  font-family:'Arial Unicode MS';
  color: #ffffff;
  font-size: 14px;
  font-weight:bold;
  width:100%;
  height:100%;
  padding: 10px 20px 10px 20px;
  text-decoration: none; 
  border-left-color:#35a1d9;
  border-right-style:none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}


.menuAltBar{
  font-family: 'Arial Unicode MS';
  color: #ffffff;
  font-size: 11px;
  font-weight:bold;
  width:100%;
  height:100%;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
