﻿.mainMenu {
    width: 100%;
    background-color: #eee;
    border: none
}

.MenuDiv {
    width: 100%;
    padding-top: 0;
    background-color: #eee
}

    .MenuDiv span {
        color: #eee;
        font-family: Arial;
        font-weight: 700;
        font-size: 10px;
        text-wrap: normal;
        font-weight: 700
    }

.UstBannerRightBox {
    background: url(../images/slicetoprighttdback.png);
    width: 100%;
    height: 30px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    vertical-align: middle
}

.UstBannerRightBoxTest {
    background: #008b8b !important
}

.UstBannertextBox {
    width: 95%;
    height: 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 0 solid #319ed7;
    font-family: Arial;
    font-size: 8px;
    text-align: center;
    background-color: #fff
}

.UstCombobox {
    width: 95%;
    height: 20px;
    border-top-right-radius: 5px;
    border: 0 solid #319ed7;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-family: Arial;
    font-size: 8px
}

.usttablestyle {
    width: 100%;
    text-align: center;
    padding-right: 3px;
    padding-top: 3px;
    padding-left: 3px;
    table-layout: fixed;
    margin-top: -74px;
    z-index: 10;
    position: relative
}

.menutablestyle {
    background: url(../images/menuselectedslice.png);
    background-repeat: repeat-x,no-repeat,no-repeat;
    padding: 0;
    padding-top: 0;
    outline-offset: 0;
    width: 100%;
    table-layout: fixed
}

.menutableTeststyle {
    background-color: #8c8a8a;
    background: #8c8a8a !important;
    padding: 0;
    padding-top: 0;
    outline-offset: 0;
    width: 100%;
    table-layout: fixed
}

.menuUstButtonsTDStyle {
    padding-right: 2px;
    cursor: pointer;
    height: 100%;
    position: relative;
    float: left;
    padding: 11px
}

.menuUstButtonsTDTestStyle {
    background-color: #bebebe;
    padding: 0;
    padding-right: 2px;
    width: 16.6%;
    cursor: pointer;
    max-width: 16.6%;
    min-width: 16.6%
}

.menuUstButtonsTDLanguageStyle {
    background: url(../images/menugradyanslice.png);
    background-repeat: repeat-x,no-repeat,no-repeat;
    padding: 0;
    width: 10%;
    max-width: 10%;
    min-width: 10%;
    cursor: pointer
}

.alignText > div {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    display: table !important;
    height: 100%
}

    .alignText > div > span {
        display: table-cell !important;
        vertical-align: middle
    }

.menuUstButtonsSelectedTDStyle {
    background: url(../images/menuselectedslice.png);
    background-repeat: repeat-x,no-repeat,no-repeat;
    padding: 0;
    width: 16.6%;
    cursor: pointer;
    max-width: 16.6%;
    min-width: 16.6%
}

.menuUstButtonsSelectedTDTestStyle {
    background-color: #b5b5b5;
    padding: 0;
    width: 16.6%;
    cursor: pointer;
    max-width: 16.6%;
    min-width: 16.6%
}

.menuUstButtonsLeftRadiusTDStyle {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 13.5%;
    max-width: 13.5%;
    min-width: 13.5%;
    padding-right: 6px
}

.menuUstButtonsRightRadiusTDStyle {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: url(../images/menugradyanslice.png);
    background-repeat: repeat-x,no-repeat,no-repeat;
    padding: 0;
    width: 10%;
    max-width: 10%;
    min-width: 10%
}

.menuUstButtonsRightRadiusTDTestStyle {
    background-position: 0 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-repeat: repeat-x,no-repeat,no-repeat;
    padding: 0;
    width: 10%;
    max-width: 10%;
    min-width: 10%;
    background-color: #b5b5b5 !important;
    background-image: none !important;
    background-attachment: scroll !important
}

.menuUstButtons1 {
    background-color: Transparent;
    background-repeat: no-repeat;
    font-family: Arial;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    width: 100%;
    height: 100%;
    text-decoration: none;
    border: none;
    cursor: pointer
}

.altmenu ul li {
    background: #8c8a8a !important
}

.acilirMenu {
    position: absolute;
    width: 150%;
    padding-top: 15px;
    list-style: none;
    text-align: left;
    display: none;
    z-index: 99999
}

    .acilirMenu li {
        background: url(/images/menubg.png);
        padding-left: 5px;
        background-size: contain;
        color: #fff;
        font-family: arial;
        font-size: 14px;
        border-bottom: 1px solid #fff
    }

        .acilirMenu li:last-child {
            border-bottom: none !important
        }

.menuUstButtonsTDStyle:hover > ul {
    display: block
}

.acilirMenu li:hover {
    background: #0259a1 !important
}

.acilirMenu li a {
    color: #fff;
    text-decoration: none;
    font-family: arial;
    font-size: 10px;
    font-weight: 700;
    margin-bottom: 2px
}

.acilirMenu li div {
    padding-top: 7px;
    padding-bottom: 7px
}

.SelectedMenu i {
    color: #d65858
}

.acilirMenu {
    position: absolute;
    max-width: 200px;
    min-width: 150px;
    width: 150%;
    padding-top: 15px;
    list-style: none;
    text-align: left;
    display: none;
    left: 0
}

.ozel {
    min-width: inherit !important;
    padding-left: 0 !important;
    text-align: center !important
}

    .ozel a {
        padding-left: 5px !important;
        padding-right: 5px !important;
        overflow: hidden
    }

        .ozel a span {
            overflow: hidden;
            width: 100%
        }

.hiddenpopup {
    display: none !important
}

.captionStyle {
    width: 150px;
    color: navy;
    font-size: 9pt;
    font-weight: 700;
    font-family: Arial,sans-serif;
    text-align: left;
    background: #fafcfe
}

.textboxStyle {
    color: #002060;
    font-size: 9pt;
    font-weight: 700;
    font-family: Arial,sans-serif;
    text-align: left;
    border-top: .5pt solid #bfbfbf;
    border-right: .5pt solid #bfbfbf;
    border-bottom: .5pt solid #bfbfbf;
    border-left: .5pt solid #bfbfbf;
    resize: none
}

.numbertextboxStyle {
    color: #002060;
    font-size: 9pt;
    font-weight: 700;
    font-family: Arial,sans-serif;
    text-align: right;
    border-top: .5pt solid #bfbfbf;
    border-right: .5pt solid #bfbfbf;
    border-bottom: .5pt solid #bfbfbf;
    border-left: .5pt solid #bfbfbf;
    resize: none
}

.captionlabelStyle {
    color: #000;
    font-weight: 300;
    padding-left: 5px
}

.dropdownStyle {
    color: #002060;
    font-family: Arial,sans-serif;
    text-align: left;
    font-size: 9pt;
    font-weight: 700;
    border-top: .5pt solid #bfbfbf;
    border-right: .5pt solid #bfbfbf;
    border-bottom: .5pt solid #bfbfbf;
    border-left: .5pt solid #bfbfbf;
    width: 101%
}

.listboxStyle {
    color: #002060;
    font-family: Arial,sans-serif;
    text-align: left;
    font-size: 9pt;
    font-weight: 700;
    border-top: .5pt solid #bfbfbf;
    border-right: .5pt solid #bfbfbf;
    border-bottom: .5pt solid #bfbfbf;
    border-left: .5pt solid #bfbfbf
}

.eklebutonStyle {
    color: #a9d08e;
    font-size: 16pt;
    font-weight: 700;
    font-family: Arial,sans-serif;
    text-align: center;
    vertical-align: middle;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: none;
    background-color: transparent;
    cursor: pointer
}

.grid1itemStyle {
    color: #002060;
    font-size: 8pt;
    font-weight: 700;
    font-family: Arial,sans-serif;
    text-align: left;
    border-top: .5pt solid #bfbfbf;
    border-right: none;
    border-bottom: none;
    border-left: .5pt solid #bfbfbf;
    background: #f2f2f2;
    height: 17px;
    border-width: 0;
    border: none;
    padding-left: 3px;
    padding-right: 3px
}

.grid1CaptionStyle {
    color: #fff;
    font-size: 8pt;
    font-weight: 700;
    font-family: Arial,sans-serif;
    text-align: left;
    vertical-align: middle;
    background: #98baec;
    text-align: center
}

.dxic {
    font-size: inherit !important
}

.dxgvTable .dxeButtonEditSys {
    font-size: 9px;
    font-family: Arial
}

.dxeListBoxItem {
    font-size: 9px;
    font-family: Arial
}

    .dxeListBoxItem dxeListBoxItemSelected {
        font-size: 9px;
        font-family: Arial
    }

.dxgvControl {
    background-color: #fff;
    border: 1px solid #1e5799;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px
}

.dxgvTable {
    background-color: #fbfafa;
    border: 0 solid #1e5799;
    color: #3c3c3b;
    font-size: 9px;
    font-family: Arial
}

.dxgvHeader {
    background: #1e5799;
    background: -moz-linear-gradient(top,#1e5799 0,#2989d8 80%,#2989d8 80%,#7db9e8 100%);
    background: -webkit-linear-gradient(top,#1e5799 0,#2989d8 80%,#2989d8 80%,#7db9e8 100%);
    background: linear-gradient(to bottom,#1e5799 0,#2989d8 80%,#2989d8 80%,#7db9e8 100%);
    color: #fff;
    font-size: 9px;
    font-family: Arial;
    font-weight: 700;
    text-align: left;
    vertical-align: middle;
    border-right: none
}

.dxgvSelectedRow {
    color: #fff !important;
    background-color: #09bfe8 !important
}

    .dxgvSelectedRow td {
        color: #fff !important;
        background-color: #09bfe8 !important
    }

.dxgvFocusedRow {
    color: #fff !important;
    background-color: #09bfe8 !important
}

    .dxgvFocusedRow td {
        color: #fff !important;
        background-color: #09bfe8 !important
    }

.dxgvFilterRow {
    background-color: #e1f3fd;
    cursor: pointer
}

.dxgv {
    font-size: 9px;
    font-family: Arial;
    cursor: pointer
}

.dxeHyperlink {
    font-size: 9px;
    font-family: Arial;
    cursor: pointer
}

.gridNewCaptionStyle {
    color: #fff;
    font-size: 9px;
    font-family: Arial;
    font-weight: 700;
    text-align: left;
    vertical-align: middle;
    border-right: none
}

.dx-vam {
    color: #1e5799
}

.gridNewHeaderPanel {
    background: #1e5799;
    background: -moz-linear-gradient(top,#1e5799 0,#2989d8 80%,#2989d8 80%,#7db9e8 100%);
    background: -webkit-linear-gradient(top,#1e5799 0,#2989d8 80%,#2989d8 80%,#7db9e8 100%);
    background: linear-gradient(to bottom,#1e5799 0,#2989d8 80%,#2989d8 80%,#7db9e8 100%);
    color: #fff;
    font-size: 9px;
    font-family: Arial;
    font-weight: 700;
    text-align: left;
    vertical-align: middle;
    border-right: none
}

.gridNewGroupPanel {
    border: 1px solid #1e5799;
    color: #1e5799;
    background-color: #fff;
    font-family: Arial;
    font-size: 10px;
    font-weight: 700
}

.dxeButtonEditButton {
    padding: 0;
    border-width: 0
}

.dxEditors_edtDropDown {
    background: url(../images/comboArrow.png);
    width: 15px;
    height: 10px;
    border-width: 0
}

.dxgvHSDC {
    background-color: #bce4fa
}

.dxgvCSD {
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px
}

.gridTempCaptionStyle {
    background: url(../images/menugradyanslice.png);
    background-repeat: repeat-x,no-repeat,no-repeat;
    border-width: 0;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    font-family: Arial,sans-serif;
    text-align: left;
    vertical-align: middle;
    text-align: center
}

.gridUstBaslikStyle {
    color: #002060;
    font-weight: 700;
    font-family: Arial,sans-serif;
    text-align: left
}

.grid2itemStyle {
    color: #002060;
    font-size: 8pt;
    font-weight: 700;
    font-family: Arial,sans-serif;
    text-align: center;
    border-top: .5pt solid #bfbfbf;
    border-right: none;
    border-bottom: none;
    border-left: .5pt solid #bfbfbf;
    background: #f2f2f2;
    height: 30px
}

.formglobalbuttonStyle {
    background-image: url(../images/buttonRender.png);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    white-space: normal;
    width: 117px;
    height: 36px;
    color: #fff;
    font-size: 10px;
    cursor: pointer;
    border-width: 0;
    text-wrap: normal
}

.formglobalbuttonStyleCRM {
    background-image: url(../images/CRM_Buton.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    white-space: normal;
    width: 70px;
    height: 30px;
    color: #fff;
    font-size: 10px;
    cursor: pointer;
    border-width: 0;
    text-wrap: normal;
    color: #fff
}

.formglobalbuttonStyleFAT {
    background-image: url(../images/buttonRender.png);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    white-space: normal;
    width: 100px;
    height: 25px;
    color: #fff;
    font-size: 9px;
    cursor: pointer;
    border-width: 0;
    text-wrap: normal;
    color: #fff
}

.SayfaBaslik {
    color: #002060;
    font-size: 20pt;
    font-weight: 700;
    font-family: Arial,sans-serif;
    text-align: left;
    vertical-align: middle
}

.gridustbaslik {
    color: #002060;
    font-size: 13pt;
    font-weight: 700;
    font-family: Arial,sans-serif;
    text-align: left;
    vertical-align: middle
}

.dataBoundStyle {
    padding-left: 3px;
    padding-right: 3px
}

.gridpagenumberStyle {
    padding: 0;
    font-family: "Arial Unicode MS";
    margin-right: 0;
    margin-top: 0;
    font-weight: 700;
    color: #6495ed
}

.LoginFormbuttonStyle {
    background-image: url(../images/GacLoginButton.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    white-space: normal;
    width: 117px;
    height: 36px;
    color: #fff;
    font-family: Tahoma;
    font-weight: 700;
    font-size: 13pt;
    border-radius: 8px;
    cursor: pointer
}

.LoginFormTextboxStyle {
    width: 250px;
    height: 36px;
    font-family: Tahoma;
    font-weight: 700;
    font-size: 11pt;
    border-radius: 8px;
    padding-left: 30px
}

.LoginetiketlabelStyle {
    color: #0059a7;
    font-family: Tahoma;
    font-style: italic;
    font-weight: 700;
    font-size: 8.5pt
}

.cbuttonColor {
    background: #36a6d4;
    border-radius: 8px
}

.labelstyle {
    color: #fff;
    font-family: Arial;
    font-size: 11px;
    font-weight: 700
}

.linklabelstyle {
    color: #fff;
    font-family: Arial;
    font-size: 9.5px;
    font-weight: 700;
    text-decoration: none;
    padding-left: 3px
}

.raporlabelstyle {
    color: #fff;
    font-family: Arial;
    font-size: 11px;
    font-weight: 700;
    text-decoration: none;
    padding-left: 3px
}

.cursorClass {
    cursor: default
}

.dxeTextBox {
    background-color: #fff;
    border: 1px solid #9f9f9f;
    font: 10px Tahoma,Geneva,sans-serif
}

.CollapseButtonStyle {
    float: left;
    padding-right: 10px
}

.FormLayoutBorderStyle {
    border-width: 1px;
    border-left: none;
    border-top: none;
    border-right: none;
    border-color: #00008b
}

.dxichSys {
    margin: 0;
    cursor: default;
    display: inline-block;
    vertical-align: middle
}

.dxrpHCW {
    font-size: 1.05em;
    height: 20px
}

.dxeEditArea {
    height: 20px;
    font-size: 14px
}

    .dxeEditArea dxeEditAreaSys {
        height: 20px;
        font-size: 14px
    }

.dxflCaption {
    height: 22px;
    font-size: 10px;
    font-weight: 700
}

.CT08BG {
    font-family: Tahoma;
    font-size: 8px;
    font-weight: 700;
    color: gray
}

.CT08BN {
    font-family: Tahoma;
    font-size: 8px;
    font-weight: 700;
    color: navy
}

.CT08BR {
    font-family: Tahoma;
    font-size: 8px;
    font-weight: 700;
    color: red
}

.CT08NG {
    font-family: Tahoma;
    font-size: 8px;
    font-weight: 400;
    color: gray
}

.CT08NN {
    font-family: Tahoma;
    font-size: 8px;
    font-weight: 400;
    color: navy
}

.CT08NR {
    font-family: Tahoma;
    font-size: 8px;
    font-weight: 400;
    color: red
}

.CC08BG {
    font-family: Calibri;
    font-size: 8px;
    font-weight: 700;
    color: gray
}

.CC08BN {
    font-family: Calibri;
    font-size: 8px;
    font-weight: 700;
    color: navy
}

.CC08BR {
    font-family: Calibri;
    font-size: 8px;
    font-weight: 700;
    color: red
}

.CC08NG {
    font-family: Calibri;
    font-size: 8px;
    font-weight: 400;
    color: gray
}

.CC08NN {
    font-family: Calibri;
    font-size: 8px;
    font-weight: 400;
    color: navy
}

.CC08NR {
    font-family: Calibri;
    font-size: 8px;
    font-weight: 400;
    color: red
}

.CT09BG {
    font-family: Tahoma;
    font-size: 9px;
    font-weight: 700;
    color: gray
}

.CT09BN {
    font-family: Tahoma;
    font-size: 9px;
    font-weight: 700;
    color: navy
}

.CT09BR {
    font-family: Tahoma;
    font-size: 9px;
    font-weight: 700;
    color: red
}

.CT09NG {
    font-family: Tahoma;
    font-size: 9px;
    font-weight: 400;
    color: gray
}

.CT09NN {
    font-family: Tahoma;
    font-size: 9px;
    font-weight: 400;
    color: navy
}

.CT09NR {
    font-family: Tahoma;
    font-size: 9px;
    font-weight: 400;
    color: red
}

.CC09BG {
    font-family: Calibri;
    font-size: 9px;
    font-weight: 700;
    color: gray
}

.CC09BN {
    font-family: Calibri;
    font-size: 9px;
    font-weight: 700;
    color: navy
}

.CC09BR {
    font-family: Calibri;
    font-size: 9px;
    font-weight: 700;
    color: red
}

.CC09NG {
    font-family: Calibri;
    font-size: 9px;
    font-weight: 400;
    color: gray
}

.CC09NN {
    font-family: Calibri;
    font-size: 9px;
    font-weight: 400;
    color: navy
}

.CC09NR {
    font-family: Calibri;
    font-size: 9px;
    font-weight: 400;
    color: red
}

.CT10BG {
    font-family: Tahoma;
    font-size: 10px;
    font-weight: 700;
    color: gray
}

.CT10BN {
    font-family: Tahoma;
    font-size: 10px;
    font-weight: 700;
    color: navy
}

.CT10BR {
    font-family: Tahoma;
    font-size: 10px;
    font-weight: 700;
    color: red
}

.CT10NG {
    font-family: Tahoma;
    font-size: 10px;
    font-weight: 400;
    color: gray
}

.CT10NN {
    font-family: Tahoma;
    font-size: 10px;
    font-weight: 400;
    color: navy
}

.CT10NR {
    font-family: Tahoma;
    font-size: 10px;
    font-weight: 400;
    color: red
}

.CC10BG {
    font-family: Calibri;
    font-size: 10px;
    font-weight: 700;
    color: gray
}

.CC10BN {
    font-family: Calibri;
    font-size: 10px;
    font-weight: 700;
    color: navy
}

.CC10BR {
    font-family: Calibri;
    font-size: 10px;
    font-weight: 700;
    color: red
}

.CC10NG {
    font-family: Calibri;
    font-size: 10px;
    font-weight: 400;
    color: gray
}

.CC10NN {
    font-family: Calibri;
    font-size: 10px;
    font-weight: 400;
    color: navy
}

.CC10NR {
    font-family: Calibri;
    font-size: 10px;
    font-weight: 400;
    color: red
}

.CT11BG {
    font-family: Tahoma;
    font-size: 11px;
    font-weight: 700;
    color: gray
}

.CT11BN {
    font-family: Tahoma;
    font-size: 11px;
    font-weight: 700;
    color: navy
}

.CT11BR {
    font-family: Tahoma;
    font-size: 11px;
    font-weight: 700;
    color: red
}

.CT11NG {
    font-family: Tahoma;
    font-size: 11px;
    font-weight: 400;
    color: gray
}

.CT11NN {
    font-family: Tahoma;
    font-size: 11px;
    font-weight: 400;
    color: navy
}

.CT11NR {
    font-family: Tahoma;
    font-size: 11px;
    font-weight: 400;
    color: red
}

.CC11BG {
    font-family: Calibri;
    font-size: 11px;
    font-weight: 700;
    color: gray
}

.CC11BN {
    font-family: Calibri;
    font-size: 11px;
    font-weight: 700;
    color: navy
}

.CC11BR {
    font-family: Calibri;
    font-size: 11px;
    font-weight: 700;
    color: red
}

.CC11NG {
    font-family: Calibri;
    font-size: 11px;
    font-weight: 400;
    color: gray
}

.CC11NN {
    font-family: Calibri;
    font-size: 11px;
    font-weight: 400;
    color: navy
}

.CC11NR {
    font-family: Calibri;
    font-size: 11px;
    font-weight: 400;
    color: red
}

.dxeMemoEditAreaSys, input[type=password].dxeEditAreaSys, input[type=text].dxeEditAreaSys {
    font-size: 11px !important
}

* {
    padding: 0;
    margin-right: 0;
    margin-top: 0
}

    * h1 {
        color: gray
    }

:focus {
    outline: 0
}

a img {
    border: none
}

body {
    background-color: #fff
}

#site_ust {
    background: url(../images/ust_bg.png) top left no-repeat;
    height: 194px;
    width: 100%
}

.Hide {
    visibility: hidden
}

#site_ust_logo {
    float: left;
    margin: 3px 0 3px 5px;
    height: 190px;
    width: 1047px
}

#menu_bg {
    background-color: #fff;
    background-repeat: no-repeat;
    float: left;
    height: 42px;
    width: 100%
}

#govde {
    background-color: #fff;
    background-repeat: no-repeat;
    float: left;
    height: 643px;
    width: 100%
}

.textbox {
    border: 2px solid #a7bcd4;
    background-color: transparent;
    text-indent: 3px;
    font-weight: 700;
    font-size: 13px;
    text-align: justify;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px
}

.Alan {
    border: 2px solid #a7bcd4;
    background-color: transparent;
    text-indent: 3px;
    font-weight: 700;
    font-size: 13px;
    text-align: center
}

.dropdownlist {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #808285;
    background-color: transparent;
    filter: Alpha(opacity=0)
}

.masterpageBtn {
    -moz-box-shadow: inset 0 0 0 0 #f0f7fa;
    -webkit-box-shadow: inset 0 0 0 0 #f0f7fa;
    box-shadow: inset 0 0 0 0 #f0f7fa;
    background-color: transparent;
    border: 1px solid #057fd0;
    display: inline-block;
    color: #fff;
    font-family: 'Arial Unicode MS';
    font-size: x-small;
    font-weight: 700;
    padding: 6px 12px;
    text-decoration: none;
    color: #003e83;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px
}

.listbox {
    border: 2px solid #a7bcd4;
    background-color: transparent;
    text-indent: 3px;
    font-weight: 700;
    font-size: 13px;
    text-align: justify;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px
}

.myButton {
    -moz-box-shadow: inset 0 0 0 0 #f0f7fa;
    -webkit-box-shadow: inset 0 0 0 0 #f0f7fa;
    box-shadow: inset 0 0 0 0 #f0f7fa;
    background-color: transparent;
    border: 1px solid #057fd0;
    display: inline-block;
    color: #fff;
    font-family: 'Arial Unicode MS';
    font-size: x-small;
    font-weight: 700;
    padding: 6px 12px;
    text-decoration: none;
    color: #003e83
}

.UstMenuTD {
    width: 129px;
    height: 41px
}

.UstMenuYeni {
    border: 0 solid #a7bcd4;
    background-color: transparent;
    text-indent: 3px;
    font-weight: 700;
    font-size: 13px;
    text-align: justify;
    font-family: 'Arial Unicode MS';
    width: 100%;
    float: right
}

.UstMenuButton {
    background-color: #fff;
    font-family: 'Arial Unicode MS';
    font-size: 16px;
    font-weight: 700;
    color: #003e83;
    padding: 6px 12px;
    cursor: pointer;
    height: 40px;
    width: 128px;
    border-bottom-style: solid;
    border-bottom-width: medium;
    border-bottom-color: #003e83;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none
}

    .UstMenuButton:hover {
        background-color: #999;
        font-family: 'Arial Unicode MS';
        font-size: 16px;
        font-weight: 700;
        color: #fff;
        padding: 6px 12px;
        cursor: pointer;
        height: 40px;
        width: 128px;
        border-bottom-style: solid;
        border-bottom-width: medium;
        border-bottom-color: #003e83;
        border-top-style: none;
        border-left-style: none;
        border-right-style: none
    }

.Ustbuttonsecili {
    background-color: #003e83;
    font-family: 'Arial Unicode MS';
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    padding: 6px 12px;
    cursor: pointer;
    height: 40px;
    width: 128px;
    border-bottom-style: solid;
    border-bottom-width: medium;
    border-bottom-color: #fff;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none
}

.myButton:hover {
    background-color: #057fd0;
    font-family: 'Arial Unicode MS';
    color: #fff;
    cursor: pointer
}

.myButton:active {
    position: relative;
    top: 1px
}

.cıkısbutton {
    border: 1px solid transparent;
    background-image: url(../images/logout.png);
    background-color: transparent;
    display: inline-block;
    text-decoration: none;
    padding: 6px 12px;
    cursor: pointer;
    width: 32px;
    height: 32px
}

.ekle_buton {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    text-indent: -9999px;
    background: url(../images/insert.png) no-repeat left top;
    cursor: pointer;
    width: 24px;
    height: 24px
}

.ekle_buton2 {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    text-indent: -9999px;
    background: url(../images/addbutton.png) no-repeat left top;
    cursor: pointer;
    width: 24px;
    height: 24px
}

.guncelle_buton {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    text-indent: -9999px;
    background: url(../images/reflesh.png) no-repeat left top;
    cursor: pointer;
    width: 24px;
    height: 24px
}

.clearb {
    clear: both
}

.fixtable {
    table-layout: fixed;
    width: 1340px
}

.listMain {
    background-repeat: repeat-x;
    background-color: #fff;
    z-index: 1000;
    width: 400px;
    max-height: 300px;
    text-align: inherit;
    text-indent: -1;
    font-size: .8em;
    list-style: none;
    overflow-y: scroll;
    margin: 0,0,0,0
}

.itemmain {
    background: 0 0;
    border-collapse: collapse;
    color: Gray;
    white-space: nowrap;
    text-align: inherit left;
    font-size: .8em;
    cursor: pointer
}

.itemsSelected {
    color: #057fd0;
    font-weight: 700;
    cursor: pointer;
    font-size: .8em;
    padding: 1px
}

.mGrid {
    background-color: transparent;
    margin: 5px 0 10px 0;
    width: 1260px;
    text-align: left
}

    .mGrid td {
        padding: 2px;
        border: solid 1px #c1c1c1
    }

    .mGrid th {
        padding: 4px 2px;
        color: #fff;
        background: #289da9 url(../images/grd_headbl.png) repeat-x top;
        border-bottom: none;
        border-color: transparent;
        font-size: .9em;
        border-bottom: none
    }

    .mGrid .alt {
        background: #289da9 url(../images/grd_headbl.png) repeat-x top;
        border-bottom: none
    }

    .mGrid .pgr {
        background: #289da9 url(../images/grd_pgrblu.png) repeat-x top;
        border-bottom: none
    }

        .mGrid .pgr table {
            margin: 5px 0
        }

        .mGrid .pgr td {
            border-width: 0;
            padding: 0 6px;
            font-weight: 700;
            color: #fff;
            line-height: 12px
        }

        .mGrid .pgr a {
            color: #666;
            text-decoration: none
        }

.eklenti {
    color: #3ba2ae;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none
}

.container > nav, .main {
    float: right
}

    .main > section button {
        border: none;
        background-color: transparent;
        background-image: url(../images/threedot.png);
        width: 24px;
        height: 32px;
        cursor: pointer
    }

.specialdiv1Test {
    background: #b5b5b5 !important
}

.todoleftttd {
    background: -webkit-linear-gradient(top,#319ed7,#06508d);
    background: -o-linear-gradient(top,#319ed7,#319ed7);
    background: -moz-linear-gradient(top,#319ed7,#319ed7);
    background: linear-gradient(top,#319ed7,#319ed7);
    border: 0 solid #319ed7;
    border-radius: 8px;
    border-right: none;
    height: 5%;
    min-height: 5%
}

.ReportRightTd {
    background: -webkit-linear-gradient(top,#319ed7,#06508d);
    background: -o-linear-gradient(top,#319ed7,#319ed7);
    background: -moz-linear-gradient(top,#319ed7,#319ed7);
    background: linear-gradient(top,#319ed7,#319ed7);
    border: 0 solid #319ed7;
    border-radius: 8px;
    border-right: none;
    height: 5%;
    min-height: 5%
}

.todorighttd {
    border-radius: 8px;
    background-color: #004378;
    color: #fff;
    border: 0 solid #004378;
    height: 100%;
    width: 35%;
    text-align: right;
    padding-right: 2px;
    display: table-cell
}

.tblToDo {
    padding-right: 3px
}

.tblRpt {
    background: -webkit-linear-gradient(top,#0059a7,#35a1d9);
    background: -o-linear-gradient(top,#0059a7,#35a1d9);
    background: -moz-linear-gradient(top,#0059a7,#35a1d9);
    background: linear-gradient(top,#0059a7,#35a1d9);
    opacity: .9;
    text-align: right
}

.specialdiv1 {
    position: fixed;
    top: .5%;
    left: .5%;
    width: 19.8%;
    height: 100%;
    background: -webkit-linear-gradient(top,#0059a7,#35a1d9);
    background: -o-linear-gradient(top,#0059a7,#35a1d9);
    background: -moz-linear-gradient(top,#0059a7,#35a1d9);
    background: linear-gradient(top,#0059a7,#35a1d9);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: -1
}

.specialdiv2 {
    position: relative;
    top: -13px;
    left: .6%;
    margin-top: 16px;
    width: 19.3%;
    height: 55px;
    background: -webkit-linear-gradient(top,#0059a7,#35a1d9);
    background: -o-linear-gradient(top,#0059a7,#35a1d9);
    background: -moz-linear-gradient(top,#0059a7,#35a1d9);
    background: linear-gradient(top,#0059a7,#35a1d9);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: -2
}

.menuUstButtonsLeftRadiusTDStyle input[type=text].dxeEditAreaSys, input[type=password].dxeEditAreaSys {
    font-size: inherit !important
}

.cbp-spmenu {
    position: fixed
}

    .cbp-spmenu h3 {
        color: #afdefa;
        padding: 20px;
        margin: 0;
        background: #0d77b6
    }

    .cbp-spmenu a {
        display: block;
        color: #fff
    }

        .cbp-spmenu a:hover {
            background: #258ecd
        }

        .cbp-spmenu a:active {
            background: #afdefa;
            color: #47a3da
        }

.cbp-spmenu-vertical {
    width: 240px;
    height: 100%;
    top: 87px;
    z-index: 1000
}

.cbp-spmenu-horizontal {
    width: 100%;
    height: 150px;
    left: 0;
    z-index: 1000;
    overflow: hidden
}

    .cbp-spmenu-horizontal h3 {
        height: 100%;
        width: 20%;
        float: left
    }

    .cbp-spmenu-horizontal a {
        float: left;
        width: 20%;
        padding: .8em;
        border-left: 1px solid #258ecd
    }

.cbp-spmenu-left {
    left: -240px
}

.cbp-spmenu-right {
    right: -240px
}

.cbp-spmenu-left.cbp-spmenu-open {
    left: 0
}

.cbp-spmenu-right.cbp-spmenu-open {
    right: 0
}

.cbp-spmenu-top {
    top: -150px
}

.cbp-spmenu-bottom {
    bottom: -150px
}

.cbp-spmenu-top.cbp-spmenu-open {
    top: 0
}

.cbp-spmenu-bottom.cbp-spmenu-open {
    bottom: 0
}

.cbp-spmenu-push {
    overflow-x: hidden;
    position: relative;
    left: 0
}

.cbp-spmenu-push-toright {
    left: 240px
}

.cbp-spmenu-push-toleft {
    left: -240px
}

.cbp-spmenu, .cbp-spmenu-push {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease
}

@media screen and (max-width:55.1875em) {
    .cbp-spmenu-horizontal {
        height: 110px
    }

    .cbp-spmenu-top {
        top: -110px
    }

    .cbp-spmenu-bottom {
        bottom: -110px
    }
}

@media screen and (max-height:26.375em) {
    .cbp-spmenu-vertical {
        width: 190px
    }

    .cbp-spmenu-left, .cbp-spmenu-push-toleft {
        left: -190px
    }

    .cbp-spmenu-right {
        right: -190px
    }

    .cbp-spmenu-push-toright {
        left: 190px
    }
}

.heightAuto {
    height: 100% !important
}

.heightAutoBody {
    height: 95% !important
}

.groupButtonChild {
    display: none;
    list-style: none;
    position: absolute;
    z-index: 99999999;
    height: auto;
    margin-left: -5px;
    padding-top: 26px
}

.groupMainButton {
    position: relative;
    cursor: pointer !important;
    min-width: auto !important
}

    .groupMainButton:hover {
        background: 0 0 !important
    }

        .groupMainButton:hover > ul {
            display: block !important
        }

.groupButtonChild li {
    border-bottom: 1px solid #fff;
    float: none !important;
    position: relative;
    padding-left: 0 !important;
    min-height: 25px;
    background: #0f6099;
    height: 100%;
    text-align: left !important
}

    .groupButtonChild li:hover {
        background: url(../images/menuselectedslice.png) !important
    }

    .groupButtonChild li span {
        color: #fff !important
    }

.groupButtonContent {
    background: #f3f3f3;
    padding: 2px;
    border: 1px solid #1f5b9d;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px
}

    .groupButtonContent li {
        min-width: auto !important
    }

        .groupButtonContent li a {
            font-size: 10px !important
        }

.carousel-indicators {
    bottom: 0 !important;
    width: 95% !important;
    float: left;
    position: relative !important;
    z-index: 1 !important;
    margin-left: 0 !important;
    left: 0 !important;
    margin-bottom: 0 !important
}

    .carousel-indicators li {
        border: 1px solid #337ab7 !important;
        border-radius: 10px
    }

    .carousel-indicators .active {
        background-color: #337ab7 !important
    }

.carArrow {
    position: relative;
    float: left
}

#dropSection {
    height: 29px;
    width: 15%;
    border: 1px dashed #1e5799;
    background-color: #ebf2f4;
    text-align: center;
    position: relative;
    float: right;
    margin-bottom: 1px
}

.activeDrp {
    background-color: azure !important
}

.pnlArrow {
    margin-top: 5px
}

@-webkit-keyframes tada {
    from {
        -webkit-transform: scale3d(1,1,1);
        transform: scale3d(1,1,1)
    }

    10%,20% {
        -webkit-transform: scale3d(.95,.95,.95) rotate3d(0,0,1,-10deg);
        transform: scale3d(.95,.95,.95) rotate3d(0,0,1,-10deg)
    }

    30%,50%,70%,90% {
        -webkit-transform: scale3d(1,1,1) rotate3d(0,0,1,10deg);
        transform: scale3d(1,1,1) rotate3d(0,0,1,10deg)
    }

    40%,60%,80% {
        -webkit-transform: scale3d(1,1,1) rotate3d(0,0,1,-10deg);
        transform: scale3d(1,1,1) rotate3d(0,0,1,-10deg)
    }

    to {
        -webkit-transform: scale3d(1,1,1);
        transform: scale3d(1,1,1)
    }
}

@keyframes tada {
    from {
        -webkit-transform: scale3d(1,1,1);
        transform: scale3d(1,1,1)
    }

    10%,20% {
        -webkit-transform: scale3d(.95,.95,.95) rotate3d(0,0,1,-10deg);
        transform: scale3d(.95,.95,.95) rotate3d(0,0,1,-10deg)
    }

    30%,50%,70%,90% {
        -webkit-transform: scale3d(1,1,1) rotate3d(0,0,1,10deg);
        transform: scale3d(1,1,1) rotate3d(0,0,1,10deg)
    }

    40%,60%,80% {
        -webkit-transform: rotate3d(0,0,1,-10deg);
        transform: rotate3d(0,0,1,-10deg)
    }

    to {
        -webkit-transform: scale3d(1,1,1);
        transform: scale3d(1,1,1)
    }
}

.notifList {
    width: 388px;
    height: auto;
    z-index: 9999;
    position: absolute;
    right: -35px;
    padding-top: 20px;
    display: none
}

.targetPopupList {
    float: right;
    height: 32px;
    position: relative;
    margin-right: 10px
}

    .targetPopupList:hover > .notifList {
        display: block !important
    }

    .targetPopupList .popupIcon {
        font-size: 15px;
        margin-top: 10px;
        color: #fff;
        animation: tada 1.5s ease infinite;
        transform: scaleX(-1)
    }

.badgeOzel {
    top: 3px;
    position: absolute;
    right: 7px;
    padding: 2px 5px
}

.notifListContent {
    position: relative;
    width: 100%;
    height: 100%
}

.notifListHeader {
    border-top-left-radius: .267rem;
    border-top-right-radius: .267rem;
    background: #0059a7;
    width: 100%;
    height: auto;
    position: relative;
    float: left;
    padding: 9px;
    border-bottom: 1px solid #dfe3e7
}

.notifListHeaderTitle {
    color: #fff;
    float: left;
    font-size: 11px;
    position: relative;
    font-weight: bolder;
    line-height: 200%
}

.notifListHeaderNew {
    float: right;
    position: relative
}

.notifListBody {
    float: left;
    position: relative;
    width: 100%;
    height: 250px;
    background-color: #fff;
    border: 1px solid #dfe3e7;
    overflow-y: scroll
}

.notifListBodyElements {
    width: 100%;
    padding: 1.3rem 1rem .7rem;
    border: none;
    float: left;
    position: relative;
    border-bottom: 1px solid #dfe3e7
}

    .notifListBodyElements:hover {
        background-color: #efefef
    }

.ElementsHeader {
    text-align: left;
    font-size: 12px;
    font-family: Rubik,Helvetica,Arial,serif !important;
    font-weight: 700;
    color: #475f7b
}

    .ElementsHeader span {
        font-size: 11px;
        font-weight: 400;
        font-family: tahoma
    }

.ElementsInfo {
    width: 100%;
    position: relative;
    text-align: left;
    margin-top: 8px;
    float: left
}

    .ElementsInfo span {
        font-size: 11px;
        padding-right: 5px;
        border-right: 1px #dfe3e7 solid;
        margin-right: 5px;
        color: #929292
    }

        .ElementsInfo span i {
            font-size: 12px;
            color: #b3aeae
        }

.notifListFooter {
    width: 100%;
    float: left;
    position: relative;
    border-bottom: 1px solid #dfe3e7;
    border-right: 1px solid #dfe3e7;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 5px;
    color: #fff;
    background: #35a1d9;
    border-left: 1px solid #dfe3e7
}

.convertIcon {
    min-width: auto !important
}

.toUpperCase input {
    text-transform: uppercase !important
}

.dx-vam i {
    font-size: 16px
}

.dxeFocused {
    border: 2px solid #758898
}

.relative {
    position: relative
}

.carousel {
    position: relative;
    padding-left: 5px;
    padding-right: 5px
}

a:focus, a:hover {
    color: none !important;
    text-decoration: none !important
}

.DragUploadAlerts {
    position: absolute;
    width: 360px;
    height: auto;
    bottom: 15px;
    right: 15px
}

.display-none {
    display: none
}

.menuUstButtonsTDStyle i {
    font-size: 20px
}

    .menuUstButtonsTDStyle i:hover {
        color: #fff
    }

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 60px;
    position: fixed;
    top: 45%;
    height: 60px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    left: 45%;
    position: absolute
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes spin {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }
}

.loaderGifContent {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    background: #0000009e;
    z-index: 999999;
    top: 0;
}

.AlertElements {
    width: 100%;
    height: 100%;
    position: relative;
    float: left;
    margin-bottom: 10px;
    background-color: #bbffff;
    border-radius: 10px;
    padding: 10px;
    padding-top: 0;
}

.notifboxclose {
    float: right;
}
