﻿div.menu
{
    padding: 4px 0px 4px 8px;
    position:absolute;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
    z-index:1;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #ffffff;
    border-bottom-style :solid;
    color: #003e83;
    font-family: 'Times New Roman';
    font-size: 10px;
    font-weight: bold;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
    z-index:2;
}

div.menu ul li a:hover
{
    background-color: #057fd0;
    font-family: 'Times New Roman';
    font-size: 10px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    text-decoration: none;
    z-index:3;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
    z-index:4;
}
#AltMenu{
width:auto !important;
}
#AltMenu a.static {
padding: 0px 20px 0px 20px !important;
    }
