﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="dosyaupload.aspx.cs" Inherits="MSS1.dosyaupload" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <center>
            <asp:Image ID="ImgAttach" runat="server" />
            <br />
            <asp:Label ID="lblSonuc" runat="server" Font-Bold="True" Font-Underline="True" ForeColor="#3BA2AE"></asp:Label></center>
    </div>
    </form>
</body>
</html>
